<section>
  <form>
    <div ng-show="{{! vm.movie._id}}">
      <div class="page-header" ng-hide="{{vm.movie._id}}">
        <h2>New Movie</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" show-errors>
        <label class="control-label" for="name">Name</label>
        <input name="name" type="text" ng-model="vm.movie.name" id="name" class="form-control" placeholder="Name">
      </div>
      <fieldset>
        <input type="file" file-model="myFile" />
        <button ng-click="vm.save()">upload me</button>
      </fieldset>
    </div>
  </form>
</section>
