<section>
  <form>
    <div ng-show="{{! vm.movie._id}}">
      <div class="page-header" ng-hide="{{vm.movie._id}}">
        <h2>New Movie</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" show-errors>
        <label class="control-label" for="name">Name</label>
        <input name="name" type="text" ng-model="vm.movie.name" id="name" class="form-control" placeholder="Name">
      </div>
      <fieldset>
        <input type="file" file-model="myFile" />
        <button ng-click="vm.save()">upload me</button>
      </fieldset>
    </div>

	Single Image with validations
  <div class="button" ngf-select ng-model="vm.movie.file" name="file" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">Select</div>
  <button type="submit" ng-click="vm.save()">submit</button>

	</form>
</section>
